<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tempo de Reação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Digite aqui:</ion-label>
    <ion-input type="text" placeholder="sua resposta" [(ngModel)]="resposta"
      (ionInput)="teclaApertada($event.target.value)"></ion-input>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let t of teclas" class="ion-text-center">
      <ion-label>{{t.letra}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>