<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tempo de Reação
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="inicializaApp()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="showInstrucoes()">
        <ion-icon slot="icon-only" name="help-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item>
    <ion-label>Digite aqui:</ion-label>
    <ion-input type="text" placeholder="sua resposta" [(ngModel)]="teclaPressionada"
      (ionInput)="teclaApertada($event.target.value)"></ion-input>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">

  <ion-grid>
    <ion-row>

      <tecla-card *ngFor="let t of teclas" [tecla]="t"></tecla-card>

    </ion-row>
  </ion-grid>
</ion-content>